<p-toast [style]="{marginTop: '80px'}" position="bottom-center"></p-toast>
<div class="all-container bill-list animated fadeIn pt-0">
  <div class="col-md-12 top-section d-flex justify-content-between py-1 py-md-3">
    <div class="display-f my-auto d-flex">
      <h3 class="my-auto ml-2 font-weight-bold"> Bill List</h3>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="ui-g-6 my-auto d-flex">
    </div>
  </div>
  <p-table [columns]="cols" [value]="datas" [responsive]="true" [loading]="loadingPage">
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <div class="ui-g po-caption">
          <div class="ui-g-12 ui-md-2 ui-lg-1 text-center">
            <a class="btn filter-button" (click)="getSuppliers();filterPanel.toggle($event)">Filter </a>
          </div>
          <div class="col-12 col-lg-6 text-left my-auto">
            <div class="row justify-content-between px-3">
              <span class="col total-price" (click)="filterType(null)" style="background-color: #0f1c24">
                <label> All </label>
              </span>
              <span class="col total-price" (click)="filterType(3)" style="background-color: #21abf6">
                <label> Supplier Bills </label>
              </span>
              <span class="col total-price" (click)="filterType(1)" style="background-color:#FFA500">
                <label> PR Bills </label>
              </span>
              <span class="col total-price" (click)="filterType(2)" style="background-color: #4b6e13">
                <label> PO Bills </label>
              </span>
              <span class="col total-price" (click)="filterType('sub')" style="background-color: #646464">
                <label> Subcontractor Bills </label>
              </span>
              <span class="col total-price" (click)="filterType(4)" style="background-color: #006cc5">
                <label> Spare Part Bills </label>
              </span>
            </div>
          </div>
          <div class="ui-g-12 ui-md-3 p-1">
            <div class="ui-inputgroup w-100">
              <input type="text" class="w-100" (keyup.enter)="search()" (clear)="getAll();searchText=''"
                (keydown.esc)="getAll();searchText=''" placeholder="Search" [(ngModel)]="searchText">
              <button class="btn btn-primary btn-edit" (click)="search()" [disabled]="!searchText">
                <i class="fas fa-search"></i></button>
              <a *ngIf="searchText" class="btn-times" title="Get All" (click)="getAll();searchText=''">
                <i class="fas fa-times"></i></a>
            </div>
          </div>
          <div class="ui-g-12 ui-md-4 col-lg-2 text-center my-auto ml-auto d-none d-md-block">
            <div class="dropdown w-100">
              <button class="btn btn-sm btn-success dropdown-toggle btn-opt shadow" data-toggle="dropdown">
                Create Bill
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="createDefaultBill(0)"><i class="fas fa-plus text-success"></i>
                  Add Default Bill</a>
                <a class="dropdown-item" (click)="createDefaultBill(1)"><i class="fas fa-user-plus text-secondary"></i>
                  Subcontractor Bill</a>
                <a class="dropdown-item" (click)="createBill(1)"><i class="fas fa-money-check-alt text-primary"></i>
                  Add Bill PR</a>
                <a class="dropdown-item" (click)="createBill(2)"><i class="fas fa-cash-register text-info"></i>
                  Add Bill PO</a>
                <a class="dropdown-item" (click)="createSparePartBill()">
                  <i class="fab fa-stack-overflow text-secondary"></i> Add Spare Part Bill</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr class="sticky-header sizes">
        <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="clickable" *ngIf="!loadingSpinner">
        <td class="col-data" *ngFor="let col of columns" style="padding: 0.9em 0.857em !important;">
          <span class="ui-column-title">{{col.header}}</span>
          <b
            *ngIf="col.field != 'createdBy' && col.field!='cancelledBy' && col.field != 'totalPrice' && col.field !='status' && col.field !='actions'">
            {{rowData[col.field]}}
          </b>
          <b *ngIf="col.field=='status'">
            <font color="green" *ngIf="rowData[col.field]==1"> Created</font>
            <font color="green" *ngIf="rowData[col.field]==2"> In Stock</font>
            <font color="red" *ngIf="rowData[col.field]==-1">Cancelled</font>
          </b>
          <b *ngIf="col.field=='totalPrice'">
            {{rowData?.totalPrice| number:'1.2-2'}}&nbsp;{{rowData.currency}}
          </b>
          <b *ngIf=" col.field=='createdBy'">
            {{rowData?.createdBy?.username}}-{{rowData[col.field]?.date | date: 'HH:mm dd/MM/yyyy'}}
          </b>
          <b *ngIf=" col.field=='cancelledBy'">
            {{rowData?.cancelledBy?.username}}-{{rowData[col.field]?.date | date: 'HH:mm dd/MM/yyyy'}}
          </b>
          <b class="text-primary text-center" *ngIf="col.field=='actions'">
            <div class="btn-group dropleft btn-dd mat">
              <a class="left dropdown-toggle" data-toggle="dropdown">Actions</a>
              <div class="dropdown-menu mt-2">
                <a class="dropdown-item" (click)="downloadBill(rowData._id)" data-toggle="modal"
                  data-target="#printModal"> <i class="fas fa-file-download text-success"></i> Print</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#documentModal"
                  (click)="documentsActive=true;prepareDocumentComponent(rowData._id)">
                  <i class="fas fa-paperclip"></i>&nbsp; Documents</a>
                <a class="dropdown-item" (click)="updateBill(rowData)" *ngIf="rowData.status==1"> <i
                    class="fas fa-pen text-warning"></i> Edit</a>
                <a class="dropdown-item" *ngIf="rowData.status==2"
                  (click)="viewBill(rowData._id,rowData.type,rowData.mainBillId)">
                  <i class="fas fa-eye text-blue"></i> View</a>

                <a class="dropdown-item" *ngIf="rowData.status==1"
                  (click)="onClickRemoveBill(rowData._id,rowData.type)">
                  <i class="fas fa-trash text-danger"></i>Delete</a>
              </div>
            </div>
          </b>
        </td>
      </tr>
      <tr *ngIf="loadingSpinner">
        <td *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<!------------------------- REMOVE BILL WARNING MODAL ----------------------------->
<p-toast position="center" key="c" (onClose)="onCancelReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="removeBill()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onCancelReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<article class="filter-section">
  <p-overlayPanel #filterPanel>
    <div class="row">
      <div class="col-6"> <label>Status:</label>
        <p-dropdown [options]="options" styleClass="w-100" [(ngModel)]="selectedSorted"> </p-dropdown>
      </div>
      <div class="col-6"> <label>Supplier:</label>
        <p-dropdown [options]="suppliers" styleClass="w-100" filter="true" [(ngModel)]="selectedGroup"
          placeholder="Select"></p-dropdown>
      </div>
      <div class="col-12 mt-4 px-0">
        <button class="btn btn-sm btn-secondary" (click)="filter(0);filterPanel.hide()">Clear</button>
        <button class="btn btn-sm btn-primary" (click)="filter(1);filterPanel.hide()">Apply</button>
      </div>
    </div>
  </p-overlayPanel>
</article>
