<p-toast [style]="{marginTop: '80px'}" position="bottom-center"></p-toast>
<div class="all-container offer-list animated fadeIn pt-0">
  <div class="col-md-12 top-section d-flex justify-content-between py-3">
    <div class="display-f my-auto d-flex">
      <h3 class="my-auto ml-2 font-weight-bold"></h3>
    </div>
  </div>
  <p-table [columns]="cols" [value]="runners" [responsive]="true">
    <ng-template pTemplate="caption">
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr class="sticky-header sizes">
        <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
          {{col.header}}
            <a *ngIf="col.sortable" onmouseover="" style="cursor: pointer;" title="Sort" (click)="sortBy(col.field)">
              <span class="material-icons">
                sort
                </span>
          </a>
          <a *ngIf="col.groupable" onmouseover="" style="cursor: pointer;"  title="Group" (click)="group()">
            <span class="material-icons" style="color:orange">
              people
              </span>
        </a>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="clickable">
        <td class="col-data" *ngFor="let col of columns" >
          <span class="ui-column-title">{{col.header}}</span>
          <b *ngIf="col.field !== 'username'
                && col.field !== 'age'">
             {{rowData[col.field]}}
          </b>
          <b *ngIf="col.field === 'age'  && !groupBy">
           {{rowData.user?.age}}
         </b>
         <b *ngIf="col.field === 'age'  && groupBy">
          <font color="green" *ngIf="rowData.user?.group==1"> {{rowData.user?.age}} G1 </font>
          <font color="blue" *ngIf="rowData.user?.group==2"> {{rowData.user?.age}} G2</font>
          <font color="red" *ngIf="rowData.user?.group==3"> {{rowData.user?.age}}  G3</font>


       </b>
         <b *ngIf="col.field === 'username'">
          {{rowData.user?.username}}
        </b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

